.circularLoader {
  height: 40px;
  width: 40px;
  border: 5px solid rgba(255, 68, 0, 30%);
  border-top-color: orangered;
  border-radius: 50%;
  animation: spin 1s infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
